body { background-image:url('images/red/bg.gif'); }
.wrap { background-image:url('images/red/bg_top.gif'); }
.widget { border-color:#C59494 !important; }
.widget li a:hover { background-color:#AF6969; }

.widget h2,
.comment-author,
.comment-author a { color:#AF6969; }

.commentlist,
.commentlist li ,
.comment-avatar img { border-color:#C59494; }