
@font-face {font-family: "Jeroky"; src: url("fonts/Jeroky-Regular.woff") format('woff');}
@font-face {font-family: "Jeroky Italic"; src: url("fonts/Jeroky-Italic.woff") format('woff');}
@font-face {font-family: "Fluoxetine"; src: url("fonts/Fluoxetine-V2.woff") format('woff');}
a,article,b,body,div,footer,h1,h2,h3,h4,h5,h6,header,html,img,li,p,s,section,span,ul{margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline}
article,footer,header,section{display:block}
body{line-height:1}
ul{list-style:none}
body{-webkit-text-size-adjust:none}
@media screen and (max-width:480px){body,html{min-width:320px}}
html{box-sizing:border-box}
*,:after,:before{box-sizing:inherit}
body.is-preload *,body.is-preload :after,body.is-preload :before{ animation:none!important; transition:none!important}
html{height:100%}

body{
height:100%; 
background-color:#000; 
background-image:url(images/overlay.png),linear-gradient(60deg,#296c2742 5%,#296c2745),url(images/helechos-01.jpg); 
background-repeat:repeat,no-repeat,no-repeat; 
background-size:100px 100px,cover,cover; 
background-position:top left,center center,bottom center; 
background-attachment:fixed,fixed,fixed}

body:after{
content:''; 
display:block; 
position:fixed; 
top:0; 
left:0; 
width:100%; 
height:inherit; 
opacity:0; 
z-index:1; 
background-color:#000; 
background-image:url(images/overlay.png),linear-gradient(60deg,#296c2742 5%,#296c2745),background-repeat: repeat,no-repeat; 
background-size:100px 100px,cover; 
background-position:top left,center center; 
transition:opacity 1.75s ease-out}

body.is-preload:after{opacity:1}

body{ 
color:#414f57; 
font-family:"Jeroky",Helvetica,sans-serif; 
font-size:14pt; 
font-weight:300; 
line-height:2; 
letter-spacing:.09em; 
text-transform:uppercase}

@media screen and (max-width:1680px){body{font-size:11pt}}
@media screen and (max-width:480px){body{font-size:10pt; line-height:1.75}}

a{transition:color .2s ease,border-color .2s ease; color:inherit; text-decoration:none}
a:before{transition:color .2s ease,text-shadow .2s ease}
a:hover{color:#ff7496}
b{color:#313f47}
p{margin:0 0 1.5em 0}
h1,h2,h3,h4,h5,h6{color:#313f47; line-height:1.5; margin:0 0 .75em 0}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:inherit; text-decoration:none}
h1{font-size:1.6em; letter-spacing:.01em; margin:0 0 .525em 0; font-family:"Fluoxetine", sans-serif; 
} 
h2{font-size:1.25em} 
h3{font-size:1em} 
h4{font-size:1em} 
h5{font-size:1em} 
h6{font-size:1em} 

@media screen and (max-width:480px){h1{font-size:1.65em}}

::-webkit-input-placeholder{color:#616f77!important; opacity:1}
:-moz-placeholder{color:#616f77!important; opacity:1}
::-moz-placeholder{color:#616f77!important; opacity:1}
:-ms-input-placeholder{color:#616f77!important; opacity:1}

.icon{text-decoration:none; position:relative; border-bottom:none}
.icon:before{-moz-osx-font-smoothing:grayscale; -webkit-font-smoothing:antialiased; display:inline-block; font-style:normal; font-variant:normal; text-rendering:auto; line-height:1; text-transform:none!important; font-weight:400}
.icon:before{line-height:inherit} 

ul{list-style:disc; margin:0 0 1.5em 0; padding-left:1em} 
ul li{padding-left:.5em} 
ul.alt{list-style:none; padding-left:0} 
ul.alt li{border-top:solid 1px #c8cccf; padding:.5em 0} 
ul.alt li:first-child{border-top:0; padding-top:0}

#main{transform-origin:50% 50%; transform:rotateX(0); transition:opacity 1s ease,transform 1s ease; padding:3em 3em 3em 3em; background:#fff; border-radius:4px; cursor:default; max-width:100%; opacity:.95; position:relative; text-align:center; width:27em}
#main2{transform-origin:50% 50%; transform:rotateX(0); transition:opacity 2s ease,transform 1s ease; opacity:.95; }

#main .avatar{position:relative; display:block; margin-bottom:1.5em}
#main .avatar img{display:block; margin:0 auto; border-radius:100%; box-shadow:0 0 0 1.5em #fff}
#main .avatar:before{content:''; display:block; position:absolute; top:50%; left:-3em; width:calc(100% + 6em); height:1px; z-index:-1; background:#c8cccf} 

@media screen and (max-width:480px){#main{padding:4em 2em 2.5em 2em; width:100%} #main .avatar:before{left:-2em; width:calc(100% + 4em)}} 

body.is-preload #main{transform:rotateX(15deg); opacity:0}
body.is-preload #main2{transform:rotateX(15deg); opacity:0}

#footer{align-self:flex-end; width:100%; padding:1.5em 0 0 0; color:rgba(255,255,255,.75); cursor:default; text-align:center}
#footer .copyright{margin:0; padding:0; font-size:.9em; list-style:none}
#footer .copyright li{display:inline-block; margin:0 0 0 .45em; padding:0 0 0 .85em; border-left:solid 1px rgba(255,255,255,.5); line-height:1}
#footer .copyright li:first-child{border-left:0}

#wrapper{display:-moz-flex; display:-webkit-flex; display:-ms-flex; display:flex; align-items:center; justify-content:space-between; flex-direction:column; perspective:1000px; position:relative; min-height:100%; padding:1.5em; z-index:2}
#wrapper>*{z-index:1}
#wrapper:before{content:''; display:block} 

@media screen and (max-width:360px){#wrapper{padding:.75em}} 

body.is-ie #wrapper{height:100%} 

.contenedor{padding-left:5px; padding-top:0; margin-left:5px; margin-top:0; color:gray}

#papel{position:relative; width:21em; padding-bottom:.1em; padding-top:.6em; }
#papel::after,#papel::before{content:""; width:21em; height:100%; position:absolute; top:-.5em; z-index:-1; transform:rotate(-4deg); right:.3em}
#papel::after{left:0; transform:rotate(-1deg)}
#papel,#papel::after,#papel::before{background:#fff; box-shadow:0 0 3px rgba(0,0,0,.2)}

#social{list-style:none; text-decoration:none; font-size:.9em}
#social a{text-decoration:none}
#social li{position:relative; height:2.2em; cursor:pointer; padding:0!important}
#social .facebook,.instagram,.twitter,.whatsapp{position:relative; z-index:5; display:block; float:none; margin:10px 0 0; width:21em; height:2.2em; background:url(images/sprite.png) no-repeat; background-color:rgba(217,30,118,.42); box-shadow:rgba(0,0,0,.28) 0 2px 3px; color:#141414; text-align:left; text-indent:3em; text-shadow:rgba(0,0,0,.28) 0 1px 0; white-space:nowrap; line-height:2.5em; transition:width .25s ease-in-out,background-color .25s ease-in-out}
#social .instagram{position:relative; z-index:5; display:block; float:none; margin:10px 0 0; width:21em; height:2.2em; background:url(images/sprite.png) no-repeat; background-color:rgba(217,30,118,.9); box-shadow:rgba(0,0,0,.28) 0 2px 3px; color:#141414; text-align:left; text-indent:3em; text-shadow:rgba(0,0,0,.28) 0 1px 0; white-space:nowrap; line-height:32px; transition:width .25s ease-in-out,background-color .25s ease-in-out}
#social .whatsapp{position:relative; z-index:5; display:block; float:none; margin:10px 0 0; width:25em; height:38px; background:url(images/sprite.png) no-repeat; background-color:rgba(217,30,118,.42); box-shadow:rgba(0,0,0,.28) 0 2px 3px; color:#141414; text-align:left; text-indent:3em; text-shadow:rgba(0,0,0,.28) 0 1px 0; white-space:nowrap; line-height:32px; transition:width .25s ease-in-out,background-color .25s ease-in-out}
#social .twitter{position:relative; z-index:5; display:block; float:none; margin:10px 0 0; width:200px; height:38px; background:url(images/sprite.png) no-repeat; background-color:rgba(217,30,118,.42); box-shadow:rgba(0,0,0,.28) 0 2px 3px; color:#141414; text-align:left; text-indent:3em; text-shadow:rgba(0,0,0,.28) 0 1px 0; white-space:nowrap; line-height:32px; transition:width .25s ease-in-out,background-color .25s ease-in-out}
#social .telegram{position:relative; z-index:5; display:block; float:none; margin:10px 0 0; width:200px; height:38px; background:url(images/sprite.png) no-repeat; background-color:rgba(217,30,118,.42); -webkit-box-shadow:rgba(0,0,0,.28) 0 2px 3px; -moz-box-shadow:rgba(0,0,0,.28) 0 2px 3px; box-shadow:rgba(0,0,0,.28) 0 2px 3px; color:#141414; text-align:left; text-indent:3em; text-shadow:rgba(0,0,0,.28) 0 1px 0; white-space:nowrap; line-height:32px; transition:width .25s ease-in-out,background-color .25s ease-in-out}
#social li:after{position:absolute; top:0; left:3em; z-index:2; display:block; height:38px; color:#141414; content:attr(data-alt); line-height:32px}
#social .icon{overflow:hidden; color:#fafafa}
#social .facebook{background-color:rgba(59,89,152,.7); background-position:0 0; width:2.5em; height:2.5em; border-radius:.2em}
#social .twitter{background-color:rgba(0,172,237,.7); background-position:0 -2.5em; width:2.5em; height:2.5em; border-radius:.2em}
#social .instagram{background-color:rgba(193,53,132,.7); background-position:-.15em -5em; width:2.5em; height:2.5em; border-radius:.2em}
#social .whatsapp{background-color:rgba(77,194,7,.7); background-position:0 -7.2em; width:2.5em; height:2.5em; border-radius:.2em}
#social .telegram{background-color:rgba(0,136,204,.47); background-position:-.15em -126px; width:2.5em; height:2.5em; border-radius:.2em}
#social li:hover .icon{width:21em}
#social li:hover .facebook{background-color:rgba(59,89,152,1); width:19em}
#social li:hover .twitter{background-color:rgba(0,172,237,1); width:11.4em}
#social li:hover .instagram{background-color:rgba(193,53,132,1); width:19em}
#social li:hover .whatsapp{background-color:rgba(77,194,7,1); width:17.5em}
#social li:hover .telegram{background-color:rgba(0,136,204,1); width:17.5em}