body { background-image:url('images/green/bg.gif'); }
.wrap { background-image:url('images/green/bg_top.gif'); }
.widget { border-color:#B7C6B0 !important; }
.widget li a:hover { background-color:#7C9672; }

.widget h2,
.comment-author,
.comment-author a { color:#7C9672; }

.commentlist,
.commentlist li ,
.comment-avatar img { border-color:#B7C6B0; }