body { background-image:url('images/orange/bg.gif'); }
.wrap { background-image:url('images/orange/bg_top.gif'); }
.widget { border-color:#D8B389 !important; }
.widget li a:hover { background-color:#856547; }

.widget h2,
.comment-author,
.comment-author a { color:#CB9961; }

.commentlist,
.commentlist li ,
.comment-avatar img { border-color:#D8B389; }

